<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

<h2>Regression Models with Keras</h2>

<h3>Objective for this Notebook<h3>    
<h5> 1. How to use the Keras library to build a regression model.</h5>
<h5> 2. Download and Clean dataset </h5>
<h5> 3. Build a Neural Network </h5>
<h5> 4. Train and Test the Network. </h5>

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

## Import Keras

In [12]:
import keras
from keras.models import Sequential
from keras.layers import Dense

## Build a Neural Network

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the 
train_test_split
helper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

In [17]:
# Allows us to split our data into training and testing data
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
# List to store mean squared errors
mse_list = []

# Repeat 50 times
for _ in range(50):
    # Split the data
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=2)
    
    # Build and train the model
    model = regression_model()
    model.fit(X_train, y_train, epochs=50, verbose=0)
    
    # Predict on test data
    y_pred = model.predict(X_test)
    
    # Compute mean squared error
    mse = mean_squared_error(y_test, y_pred)
    mse_list.append(mse)

# Calculate mean and standard deviation of MSEs
mse_mean = np.mean(mse_list)
mse_std = np.std(mse_list)

print(f'Mean of MSEs: {mse_mean}')
print(f'Standard Deviation of MSEs: {mse_std}')

10/10 [==============================] - 0s 817us/step
10/10 [==============================] - 0s 807us/step
10/10 [==============================] - 0s 953us/step
10/10 [==============================] - 0s 971us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 797us/step
10/10 [==============================] - 0s 883us/step
10/10 [==============================] - 0s 832us/step
10/10 [==============================] - 0s 870us/step
10/10 [==============================] - 0s 947us/step
10/10 [==============================] - 0s 910us/step
10/10 [==============================] - 0s 984us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 838us/step
10/10 [==============================] - 0s 843us/step
10/10 [==============================] - 0s 934us/step
10/10 [==============================] - 0s 950us/step
10/10 [==============================] - 0s 819us/step
10/10 [==============================] - 0s 721us/step
10/10 [==============================] - 0s 904us/step
10/10 [==============================] - 0s 940us/step
10/10 [==============================] - 0s 870us/step
10/10 [==============================] - 0s 834us/step
10/10 [==============================] - 0s 897us/step
10/10 [==============================] - 0s 883us/step
10/10 [==============================] - 0s 860us/step
10/10 [==============================] - 0s 825us/step
10/10 [==============================] - 0s 910us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 935us/step
10/10 [==============================] - 0s 845us/step
10/10 [==============================] - 0s 955us/step
10/10 [==============================] - 0s 883us/step
10/10 [==============================] - 0s 853us/step
10/10 [==============================] - 0s 813us/step
10/10 [==============================] - 0s 851us/step
10/10 [==============================] - 0s 914us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 823us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 957us/step
10/10 [==============================] - 0s 877us/step
10/10 [==============================] - 0s 983us/step
10/10 [==============================] - 0s 940us/step
10/10 [==============================] - 0s 830us/step
10/10 [==============================] - 0s 812us/step
10/10 [==============================] - 0s 970us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 1ms/step
Mean of MSEs: 257.2031039238549
Standard Deviation of MSEs: 269.2203735167619

**B. Normalize the data (5 marks)**

Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

* How does the mean of the mean squared errors compare to that from Step A?*

In [18]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [19]:
# Allows us to split our data into training and testing data
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
# List to store mean squared errors
mse_list = []

# Repeat 50 times
for _ in range(50):
    # Split the data
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=2)
    
    # Build and train the model
    model = regression_model()
    model.fit(X_train, y_train, epochs=50, verbose=0)
    
    # Predict on test data
    y_pred = model.predict(X_test)
    
    # Compute mean squared error
    mse = mean_squared_error(y_test, y_pred)
    mse_list.append(mse)

# Calculate mean and standard deviation of MSEs
mse_mean = np.mean(mse_list)
mse_std = np.std(mse_list)

print(f'Mean of MSEs: {mse_mean}')
print(f'Standard Deviation of MSEs: {mse_std}')

10/10 [==============================] - 0s 879us/step
10/10 [==============================] - 0s 700us/step
10/10 [==============================] - 0s 925us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 955us/step
10/10 [==============================] - 0s 792us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 989us/step
10/10 [==============================] - 0s 933us/step
10/10 [==============================] - 0s 998us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 939us/step
10/10 [==============================] - 0s 818us/step
10/10 [==============================] - 0s 899us/step
10/10 [==============================] - 0s 918us/step
10/10 [==============================] - 0s 936us/step
10/10 [==============================] - 0s 882us/step
10/10 [==============================] - 0s 868us/step
10/10 [==============================] - 0s 933us/step
10/10 [==============================] - 0s 847us/step
10/10 [==============================] - 0s 929us/step
10/10 [==============================] - 0s 879us/step
10/10 [==============================] - 0s 980us/step
10/10 [==============================] - 0s 749us/step
10/10 [==============================] - 0s 912us/step
10/10 [==============================] - 0s 906us/step
10/10 [==============================] - 0s 888us/step
10/10 [==============================] - 0s 900us/step
10/10 [==============================] - 0s 990us/step
10/10 [==============================] - 0s 888us/step
10/10 [==============================] - 0s 946us/step
10/10 [==============================] - 0s 965us/step
10/10 [==============================] - 0s 918us/step
10/10 [==============================] - 0s 917us/step
10/10 [==============================] - 0s 790us/step
10/10 [==============================] - 0s 839us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 911us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 857us/step
10/10 [==============================] - 0s 895us/step
10/10 [==============================] - 0s 944us/step
10/10 [==============================] - 0s 982us/step
10/10 [==============================] - 0s 826us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 856us/step
10/10 [==============================] - 0s 900us/step
10/10 [==============================] - 0s 831us/step
10/10 [==============================] - 0s 932us/step
Mean of MSEs: 368.30119844419875
Standard Deviation of MSEs: 91.5797703192515

**C. Increate the number of epochs (5 marks)**

Repeat Part B but use 100 epochs this time for training.

How does the mean of the mean squared errors compare to that from Step B?

In [21]:
# Allows us to split our data into training and testing data
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
# List to store mean squared errors
mse_list = []

# Repeat 50 times
for _ in range(50):
    # Split the data
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=2)
    
    # Build and train the model
    model = regression_model()
    model.fit(X_train, y_train, epochs=100, verbose=0)
    
    # Predict on test data
    y_pred = model.predict(X_test)
    
    # Compute mean squared error
    mse = mean_squared_error(y_test, y_pred)
    mse_list.append(mse)

# Calculate mean and standard deviation of MSEs
mse_mean = np.mean(mse_list)
mse_std = np.std(mse_list)

print(f'Mean of MSEs: {mse_mean}')
print(f'Standard Deviation of MSEs: {mse_std}')

10/10 [==============================] - 0s 767us/step
10/10 [==============================] - 0s 987us/step
10/10 [==============================] - 0s 824us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 954us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 940us/step
10/10 [==============================] - 0s 916us/step
10/10 [==============================] - 0s 839us/step
10/10 [==============================] - 0s 967us/step
10/10 [==============================] - 0s 901us/step
10/10 [==============================] - 0s 892us/step
10/10 [==============================] - 0s 931us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 911us/step
10/10 [==============================] - 0s 815us/step
10/10 [==============================] - 0s 932us/step
10/10 [==============================] - 0s 926us/step
10/10 [==============================] - 0s 833us/step
10/10 [==============================] - 0s 919us/step
10/10 [==============================] - 0s 854us/step
10/10 [==============================] - 0s 971us/step
10/10 [==============================] - 0s 869us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 919us/step
10/10 [==============================] - 0s 887us/step
10/10 [==============================] - 0s 924us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 957us/step
10/10 [==============================] - 0s 859us/step
10/10 [==============================] - 0s 929us/step
10/10 [==============================] - 0s 874us/step
10/10 [==============================] - 0s 827us/step
10/10 [==============================] - 0s 871us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 989us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 999us/step
10/10 [==============================] - 0s 836us/step
10/10 [==============================] - 0s 823us/step
10/10 [==============================] - 0s 845us/step
10/10 [==============================] - 0s 973us/step
10/10 [==============================] - 0s 879us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 902us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 1ms/step
Mean of MSEs: 166.68028451859308
Standard Deviation of MSEs: 20.54142281419429

**D. Increase the number of hidden layers (5 marks)**

Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

How does the mean of the mean squared errors compare to that from Step B?

In [22]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [23]:
# Allows us to split our data into training and testing data
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
# List to store mean squared errors
mse_list = []

# Repeat 50 times
for _ in range(50):
    # Split the data
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=2)
    
    # Build and train the model
    model = regression_model()
    model.fit(X_train, y_train, epochs=50, verbose=0)
    
    # Predict on test data
    y_pred = model.predict(X_test)
    
    # Compute mean squared error
    mse = mean_squared_error(y_test, y_pred)
    mse_list.append(mse)

# Calculate mean and standard deviation of MSEs
mse_mean = np.mean(mse_list)
mse_std = np.std(mse_list)

print(f'Mean of MSEs: {mse_mean}')
print(f'Standard Deviation of MSEs: {mse_std}')

10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 907us/step
10/10 [==============================] - 0s 908us/step
10/10 [==============================] - 0s 858us/step
10/10 [==============================] - 0s 875us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 911us/step
10/10 [==============================] - 0s 962us/step
10/10 [==============================] - 0s 895us/step
10/10 [==============================] - 0s 973us/step
10/10 [==============================] - 0s 837us/step
10/10 [==============================] - 0s 952us/step
10/10 [==============================] - 0s 932us/step
10/10 [==============================] - 0s 956us/step
10/10 [==============================] - 0s 897us/step
10/10 [==============================] - 0s 949us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 884us/step
10/10 [==============================] - 0s 902us/step
10/10 [==============================] - 0s 873us/step
10/10 [==============================] - 0s 924us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 903us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 955us/step
10/10 [==============================] - 0s 898us/step
10/10 [==============================] - 0s 960us/step
10/10 [==============================] - 0s 990us/step
10/10 [==============================] - 0s 958us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 924us/step
10/10 [==============================] - 0s 993us/step
10/10 [==============================] - 0s 838us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 874us/step
10/10 [==============================] - 0s 923us/step
10/10 [==============================] - 0s 841us/step
10/10 [==============================] - 0s 932us/step
10/10 [==============================] - 0s 969us/step
10/10 [==============================] - 0s 950us/step
10/10 [==============================] - 0s 977us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 975us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 834us/step
Mean of MSEs: 131.62623038594035
Standard Deviation of MSEs: 11.047130002438214